@model List<PracaInzynierska.Models.Entities.Order>

@{
    ViewData["Title"] = "Zamówienia";
}

<h1 class="text-center display-4">Zamówienia</h1>



@foreach (var item in Model)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].OrderValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].OptionalDescription)
                </th>
                <th>
                    @Html.DisplayName("Ilość zamówionych produktów")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionalDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderItem.Count)
                </td>
                <td>           
                     @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td style="width:10%">
                    <a class="btn btn bg-primary" asp-controller="User" asp-action="OrderDetails" asp-route-id="@item.OrderId">Szczegóły</a>
                </td>
            </tr>
    </table>
}
